<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="../assets/images/Medical-Logos-Color-Palette.png" width="120" height="60" class="d-inline-block align-content" alt=""><span class="bigFont">ColorRNA</span>
    </a>
</nav>

<div class="jumbotron">
    <h1 class="display-4">Red Neuronal Artificial</h1>
    <p class="lead">
        <b>ColorRNA</b> es una red neuronal que puede ser entrenada para inferir el color de texto que prefieras en base a un color de fondo específico.
    </p>
    <hr class="my-4">
    <p>Actualmente la red solo está entrenada para inferir que:</p>
    <ol>
        <li>Si el color de fondo es muy oscuro, el texto será blanco.</li>
        <li>Si el color de fondo es más blanco, el texto será negro.</li>
    </ol>
    <p>Para entrenar mejor esta red neuronal a tu gusto, solo es cuestion de escoger tus gustos. Da click en el botón en base a tus gustos y notarás como el texto cambiará de color según tus gustos. </p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-lg"><b>Escoge un color</b></span>
                </div>
                <input type="text" class="form-control" [(cpToggle)]="toggle" aria-describedby="inputGroup-sizing-lg" [value]="color" [style.background]="color" [cpOutputFormat]="'rgba'" [(colorPicker)]="color" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="container">
                <div class="display" [style.background-color]="color">
                    <div class="displayText" [style.color]="textColor">
                        R N A Color
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/brain.js">
    var network = new brain.NeuralNetwork();

    network.train([
        //Fondo blanco salida = 0
        //Fondo negro salida = 1
        {
            input: {
                rojo: 0,
                verde: 0,
                azul: 0
            },
            output: {
                color: 1
            }
        }, {
            input: {
                rojo: 1,
                verde: 1,
                azul: 1
            },
            output: {
                color: 0
            }
        }
    ])
</script>